//============================================================
// VARIABLES
//============================================================


$font-family-base: 	'Exo 2', sans-serif;

$brand-color-1: 	#c6c6c6;
$brand-color-2: 	#393185;
$brand-color-3: 	#e31e24;
$brand-color-4: 	#0b164c;
$brand-color-5: 	#53c307;

$transition: 		all 0.3s ease;